
@import url("sphinxdoc.css");



.cfg {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    background-color: #f2f2f2;
    color: #22A0C0;
}

.ncvar {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #C033A0;
}


dl.class, dl.function {
    margin-top: 40px;
    padding-top: 15px;
    border-top: 4px solid #888;
}

dl.method, dl.attribute {
    padding-top: 5px;
    margin-top: 20px;
    border-top: 1px solid #aaa;
}

dl.glossary dt {
    font-weight: bold;
    font-size: 1.1em;
}

