---
Checks:          'clang-diagnostic-*,clang-analyzer-*,readability-*,bugprone-*,portability-*,mpi-*,performance-*,-readability-isolate-declaration,-bugprone-easily-swappable-parameters,-readability-function-cognitive-complexity,-performance-unnecessary-value-param,-readability-identifier-length'
WarningsAsErrors: 'clang-analyzer-*'
CheckOptions:
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: 1.0;0.5
...
