.gitignore
build*/
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.nc
*~
*.dat
*.o
*.petsc
*.petsc.info
*.pyc
out.*
examples/**/*.png
examples/**/*.zip
site-packages/**/*.so
site-packages/**/cpp.py
site-packages/**/petsc_version.py
TAGS
.DS_Store
