Package: pism-toolkit
Version: 0.1
Section: misc
Priority: optional
Homepage: http://www.pismdocs.org
Maintainer: Constantine Khroulev <ckhroulev@alaska.edu>
Depends: g++,petsc-dev,netcdf-bin,libnetcdf-dev,ncview,nco,subversion,libgsl0-dev,libfftw3-dev,python-dev
Architecture: all
Description: A metapackage installing tools necessary or useful for building PISM.
 This meta-package installs packages commonly used by PISM developers. 
 It can be used to prepare a computer for building a development version of PISM
 from sources or extending PISM.

