Source: pism
Section: misc
Priority: extra
Maintainer: Constantine Khroulev <ckhroulev@alaska.edu>
Build-Depends: debhelper (>= 7), cmake, netcdf-bin
Standards-Version: 3.8.3
Homepage: http://www.pismdocs.org

Package: pism
Section: misc
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, python-numpy, ${python:Depends}
Recommends: ncview, nco, python-dev, python-scipy, python-matplotlib
Description: The Parallel Ice Sheet Model binary package
 The Parallel Ice Sheet Model project provides an open source, fully-parallel,
 high-resolution ice sheet model. It has these features:
 .
  * a hierarchy of available stress balances, including shallow ice and shelf
    approximations, a hybrid of these, and a (planned) higher-order scheme
  * verification and validation tools
  * a polythermal, enthalpy-based conservation of energy scheme
  * extensible coupling to atmospheric and ocean models
  * complete documentation for users and developers
 .
 Certain Python modules used by PISM scripts are not available as Debian packages. You might need to install netcdf4-python by hand.